/*=================Notify=================*/
.main .n_ok{
	background:#F6FFEC;
	border:1px solid #89B755;
	border-radius:3px;
	margin:20px 15px;
	padding:1px;
}

.main .n_ok p{
	background:#DFF6CF url(../img/i_ok.png) no-repeat 4px center;
	color:#496528;
	margin:0;
	padding:7px 25px;
}

.main .n_ok a{
	color:#006312;
	font-weight:bold;
}

.main .n_error{
	background:#FDE4E1;
	border:1px solid #B16ABC;
	border-radius:3px;
	margin:20px 15px;
	padding:1px;
}

.main .n_error p{
	background:#F4CAC6 url(../img/i_error.png) no-repeat 4px center;
	color:#630E18;
	margin:0;
	padding:7px 25px;
}

.main .n_error a{
	color:#822122;
	font-weight:bold;
}

.main .n_warning{
	background: #FFF7CE;
	border: 1px solid #D9C65B;
	border-radius: 3px;
	margin: 20px 15px;padding: 1px;
}

.main .n_warning p{
	background: #FDF0B1 url(../img/i_warning.png) no-repeat 4px center;
	color: #756B30;
	margin: 0;
	padding: 7px 25px;
}

.main .n_warning a{
	color: #756B30;
	font-weight: bold;
}